/*  ============================================================
    2️⃣ BASE STYLES
    ============================================================ */ 
/* Default styles: html, body, links, images, base typography */

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Root */
html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: var(--font-base);
    font-size: var(--text-body);
    font-weight: var(--fw-regular);
    line-height: var(--line-height-base);
    color: var(--text-color-default);
    background-color: var(--surface-default);
    margin: 0;
    background-color: var(--surface-section);
}


/* Elements */
img { max-width: 100%; display: block; }
ul, ol { margin: 0; padding: 0; list-style: none; }
button { font-family: inherit; }


/* Headings */
h1, h2, h3 {
margin: 0;
font-weight: var(--fw-bold);
line-height: var(--line-height-tight);
}
h1 { font-size: var(--text-hero); }
h2 { font-size: var(--text-headline); }
h3 { font-size: var(--text-section); }


/* Semantic typography helpers */
.subtitle {
font-size: var(--text-subtitle);
margin-block: var(--space-md)!important;;
}

.text-body { color: var(--text-color-default); line-height: var(--line-height-body); }
.text-body-semibold  { font-weight: var(--fw-semibold); line-height: var(--line-height-body)}

.text-sm { font-size: var(--text-small) ;line-height: var(--line-height-body); line-height: var(--line-height-body)}
.text-sm-semibold { font-size: var(--text-small); font-weight: var(--fw-semibold); line-height: var(--line-height-body)}


/* Media queries for tipography */
@media (max-width: 992px) {
    h1 { font-size: var(--text-headline); }
    h2 { font-size: var(--text-section);  }
    h3 { font-size: var(--text-subtitle); }
}


/* Links */
a:where(:not(.btn):not(.logo-link):not(nav a)) {
    color: var(--text-color-link);
    font-weight: var(--fw-semibold);
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

a:where(:not(.btn):not(.logo-link):not(nav a)):hover {
    text-decoration-thickness: 2px;
    background-color: var(--surface-link-hover);
}

a:where(:not(.btn):not(.logo-link):not(nav a)):active {
    text-decoration-thickness: 2px;
    background-color: var(--surface-link-active);
}

a:where(:not(.btn):not(.logo-link):not(nav a)):focus-visible {
    outline: var(--focus-ring-width) solid var(--focus-ring-color);
    outline-offset: var(--focus-ring-offset);
} 

a[aria-disabled="true"],
a.disabled {
    color: var(--color-neutral-500);
    pointer-events: none;
}