/*  ========================================
    3️⃣ LAYOUT
    ======================================== */
/* Containers, grid system, section, header, hero, footer, sections */

/* ========= Containers ========= */
.container {
    width: 100%;
    max-width: min(80%, 75rem);
    margin-inline: auto;
}

/* Widht variants */
.container--md {
    width: 100%;
    max-width: min(66%, 60rem);
    margin-inline: auto;
}

/* Book versions section */
#book-versions .container--md {
    border-top: var(--border-width-separator) solid var(--border-color-subtle);
    padding-top: var(--space-xxl);
}


/* ========= Sections ========= */
/* Default section breathing space */
section {
    padding-block: var(--space-lg);
}

/* Vertical separation between consecutive sections */
section + section {
    margin-block-start: var(--space-lg);
}

/* Vertical separation od first and last sections */
section:nth-of-type(2) {
    padding-block: var(--space-xxl);
}

section:last-of-type {
    padding-block: var(--space-xxxl);
    margin-block-start: var(--space-xxl);
}

.hero-banner + section {
    margin-block-start: 0;
}

.section--default { background-color: var(--surface-section); }
.section--alternative { background-color: var(--surface-section-alternative); }
.section--gradient { background: var(--surface-gradient); }


/* ========= Hero layout ========= */
.hero-banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 50vh;
}

/* Responsive heights */
@media (max-width: 1200px) {
.hero-banner {
    min-height: 32vh;
    }
}

@media (max-width: 768px) {
.hero-banner {
    min-height: 40vh;
    }
}


/* ========= Footer ========= */
footer {
    text-align: center;
    background-color: var(--surface-footer);
    padding: var(--space-md);
}

footer .text-sm-semibold,
footer .text-sm {
    color: var(--text-color-on-dark);
}

footer p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
}


/* ========= Scroll margin ========= */

#overview,
#downloads,
#citation,
#contact,
#about-the-author {
    scroll-margin-top: var(--space-xxl);
}