/*  ========================================
    4️⃣ COMPONENTS
    ======================================== */
/* Buttons, cards, modals, alerts, badges, etc. */


/* =============== Header =============== */
.site-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--surface-header);
    backdrop-filter: blur(10px);
    padding: var(--space-sm);
    gap: var(--space-sm);
}

/* Layout intern */
.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--surface-hero-gradient);
    z-index: 1;
}

.banner-content {
    position: relative;
    z-index: 2;
    text-align: center;
    max-width: 100%;
    padding: var(--space-xl) var(--space-lg);
    color: var(--text-color-on-dark);
}

.banner-content .subtitle {
    color: var(--text-color-on-dark);
}

.hero-banner .btn--primary {
    margin-top: var(--space-xs);
}


/* Desktop nav */
.desktop-nav ul {
    display: flex;
    gap: var(--space-xs);
}

.desktop-nav a {
    text-decoration: none;
    color: var(--text-color-nav);
    font-size: var(--text-body);
    padding: var(--space-xs) var(--space-sm);
}

/* Navigation interaction states */
.desktop-nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.desktop-nav a:active {
    text-decoration-thickness: 2px;
    transform: translateY(2px);
    transition: all 0.3s ease;
}

.desktop-nav a:focus-visible { /* Focus (keyboard) */
    outline: var(--focus-ring-width) solid var(--focus-ring-color);
    outline-offset: var(--focus-ring-offset);
}

.desktop-nav li {
    margin: 0 var(--space-xs);
}

/* Mobile Navigation (hamburger + overlay menu) */
/* Hidden on desktop */
.hamburger {
    display: none; /* visible solo en mobile */
    flex-direction: column;
    background: none;
    border: none;
    cursor: pointer;
    padding: var(--space-xs);
    margin-left: auto;
}

.hamburger span { 
    display: block; 
    width: 25px;
    height: 3px;
    background: var(--color-neutral-0); 
    margin: 0.2rem 0; 
    border-radius: var(--radius-sm); 
    transition: .25s; 
}

.close-menu {
    display: none;
}

.mobile-nav {
    display: none;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desktop-nav {
    display: block;
}

.nav-menu-desktop {
    display: flex;
}

/* --- Mobile Navigation --- */
@media (max-width: 992px) {
    /* Ocultar nav desktop */
    .desktop-nav {
        display: none;
    }

    .hamburger {
        display: flex;
        z-index: 1400; /* encima del overlay */
    }

/* Menu fullscreen (hidden using opacity/visibility) */
    .mobile-nav {
        position: fixed;
        inset: 0;
        background-color: var(--surface-header);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(-10%);
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
        z-index: 1110;
        padding-bottom: var(--space-xxxl);
    }

    /* When is active: visible y clickeable */
    .mobile-nav.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        pointer-events: auto;
        transition-delay: 0.2s;
    }

    .nav-menu {
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .nav-menu a {
        display: inline-block;
        font-size: var(--text-section) !important;
        font-weight: var(--fw-regular) !important;
        text-decoration: none;
        color: var(--text-color-on-dark);
        padding: var(--space-xs)!important;
        width: 100%;
    }

    .nav-menu a:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 3px;
    }

    /* When is active: visible y clickeable */
    .hamburger.active {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .hamburger:not(.active) {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
        
    .nav-menu li {
        text-align: center;
    }

    /* --- Close button --- */
    .close-menu {
        position: absolute;
        top: 3rem;
        right: 3rem;
        width: 2.5rem;
        height: 2.5rem;
        display: flex; /* siempre flex */
        align-items: center;
        justify-content: center;
        border: var(--border-width-interactive) solid var(--border-color-interactive);
        border-radius: 50%;
        background: transparent;
        color: var(--text-color-on-dark);
        cursor: pointer;
        opacity: 0; /* oculto inicialmente */
        z-index: 1500;
        transition: opacity 0.25s ease, transform 0.25s ease, background 0.25s ease;
        visibility: hidden; /* AÑADIR ESTO */
    }

    .mobile-nav.active .close-menu {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        top: 3rem;
        right: 3rem;
    }

    .close-menu.visible {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        z-index: 9999;
    }

    .close-menu svg {
        width: 1.4rem;
        height: 1.4rem;
    }

    .close-menu:hover {
        background: rgba(255, 255, 255, 0.15);
        transform: scale(1.05);
    }

    header {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .desktop-nav {
    display: none;
    }
}

@media (max-width: 640px) {
/* --- Close button --- */
    .nav-menu a {
    font-size: var(--text-subtitle)!important;
    }

    .close-menu {
        top: 2.4rem;
        right: 2.4rem;
        width: 2.5rem;
        height: 2.5rem;
    }

    .mobile-nav.active .close-menu {
        top: 2.4rem;
        right: 2.4rem;
    }

    .site-header {
        padding: var(--space-xs);
    }
}

/* --- Desktop Navigation - Explicit--- */
@media (min-width: 992px) {
    .hamburger {
        display: none !important;
    }
    
    .close-menu {
        display: none !important;
    }
    
    .desktop-nav {
        display: flex !important;
        position: static !important;
        opacity: 1 !important;
        visibility: visible !important;
        transform: none !important;
        pointer-events: auto !important;
        height: auto !important;
        width: auto !important;
        background-color: transparent !important;
        padding: 0 !important;
        flex-direction: row !important;
    }
    
    .desktop-nav li {
        width: auto !important;
        text-align: left !important;
        border-bottom: none !important;
        margin: 0 0.5rem !important;
    }
    
    .desktop-nav li a {
        font-size: var(--text-body) !important;
        font-weight: var(--fw-regular) !important;
        padding: var(--space-xs) var(--space-sm) !important;
        width: auto !important;
    }
}



/* =============== Space after p + component =============== */
p + :where(
  .card,
  .card-code,
  .grid-cards,
  .cards-flex,
  .versions-table-container
) {
  margin-block-start: var(--space-lg);
}



/* =============== Buttons =============== */
.btn {
  display: inline-block;
  padding: var(--space-xs) var(--space-lg);
  cursor: pointer;
  text-decoration: none;
  border-radius: var(--radius-sm);
  text-align: center;
  font-weight: var(--fw-semibold);
  color: var(--text-color-button);
  font-size: var(--text-small);
  align-items: center;
}

/* ----- Variations Hierarchy ----- */ 

/* ----- Primary button ----- */ 
.btn--primary {
  background-color:var(--surface-button-primary);
}

.btn--primary:hover {
  background-color:var(--surface-button-primary-hover);
  box-shadow: var(--shadow-sm);
  transition: all 0.3s ease;
}

.btn--primary:active {
  background: var(--surface-button-primary-active);
  box-shadow: var(--shadow-md);
  transform: translateY(1px);
  transition: all 0.3s ease;
}

.btn--primary:focus-visible {
  outline: var(--border-width-interactive) solid var(--focus-ring-color);
  outline-offset: var(--focus-ring-offset);
}

/* ----- Primary secondary ----- */ 
.btn--secondary {
  background-color: var(--surface-button-secondary);
  border: var(--border-width-interactive) solid var(--border-color-interactive);
}

.btn--secondary:hover {
  background: var(--surface-button-secondary-hover);
  box-shadow: var(--shadow-sm);
  transition: all 0.3s ease;
}

.btn--secondary:active {
  background-color: var(--surface-button-secondary-active);
  box-shadow: var(--shadow-md);
  transform: translateY(1px);
  transition: all 0.3s ease;
}

.btn--secondary:focus-visible {
  outline: var(--border-width-interactive) solid var(--focus-ring-color);
  --focus-ring-offset: var(--focus-ring-offset);
}

.btn--hero {
  font-size: var(--text-body);
}

.btn-icon {
  display: inline-flex;
  align-items: center;
  padding: var(--space-xs); 
  background: transparent;
  border: none !important;
  cursor: pointer;
  font-size: var(--text-small);
  color: var(--text-color-button);
}

.btn-icon:hover {
  color: var(--text-color-link);
}

.btn-icon:focus-visible {
  outline: var(--focus-ring-width) solid var(--focus-ring-color);
  outline-offset: var(--focus-ring-offset);
}

.btn-icon svg {
  width: 1rem;
  height: 1rem;
  color: currentColor;
}


/* ----- Copy button ----- */ 
.btn-copy {
  padding: var(--space-xs);
  background: transparent;
  border: none;
  position: relative;
  cursor: pointer;
}

/* Feedback inside the btn */
.btn-copy .copy-text {
  margin-left: calc(var(--space-xs) / 2);
  font-size: var(--text-small);
  line-height: var(--line-height-base);
}

/* Visual feedback (success) - hidden initially */
.btn-copy .copy-icon-success,
.btn-copy .copied-feedback {
  display: none;
  vertical-align: middle;
  font-size: var(--text-small);
}

/* "copied" state (added by js) */
.btn-copy.copied .copy-icon {
  display: none;
}
.btn-copy.copied .copy-text {
  display: none;
}
.btn-copy.copied .copy-icon-success,
.btn-copy.copied .copied-feedback {
  display: inline-block;
  color: var(--status-success);
}

.copy-icon path {
  fill: currentColor; /* Usa el color heredado */
}

/* Success check icon */
.copy-icon-success {
  width: 16px;
  height: 16px;
  display: none;
  stroke: var(--status-success);
  stroke-width: 2;
  fill: none;
  animation: popIn 0.25s ease forwards;
}

/* When copied, show check icon */
.copy-btn.copied .copy-icon-success {
  display: inline;
}

/* Hide normal icon + label */
.copy-btn.copied .copy-icon,
.copy-btn.copied .copy-text,
.copied-feedback {
  display: none;
}

/* Show “Copied!” with animation */
.copy-btn.copied .copied-feedback {
  display: inline;
  color: var(--status-success);
  animation: fadeUp 0.25s ease forwards;
}

/* -------- Animations -------- */
@keyframes popIn {
  0% { transform: scale(0); opacity: 0; }
  80% { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(1); }
}

@keyframes fadeUp {
  0% { opacity: 0; transform: translateY(3px); }
  100% { opacity: 1; transform: translateY(0); }
}

/* --- Show icon + "Copy" normally --- */
.copy-icon {
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 1px;
}


/* =============== Card =============== */
.card {
  border-radius: var(--radius-md);
  background-color: var(--surface-card);
  box-shadow: var(--shadow-lg);
  transition: transform 0.3s ease;

  padding-block-start: var(--space-md);
  padding-block-end: var(--space-lg);
  padding-inline: var(--space-md);

  display: flex; 
  flex-direction: column; 
  height: 100%;
  gap: var(--space-md);
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-lg);
}

.card-content {
  flex: 1;
}

.grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--space-lg);
  align-items: stretch;
}

.card-justify-between {
  justify-content: space-between;
}

.card h3 {
  margin-top: var(--space-xs);
  margin-bottom: var(--space-sm);
}

.card p {
  margin: var(--space-sm) 0 !important;
}


/* =============== Citation code card =============== */
/* Code card container */
.card-code {
  display: flex;
  flex-direction:column;
  border-radius: var(--radius-md);
  background: var(--surface-code);
  overflow: hidden;
  border: var(--border-width-separator) solid var(--border-color-subtle);
  width: 100%;
  box-sizing: border-box;
}

/* Header “BibTeX” + btn */
.code-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--surface-code-header);
  padding: 0rem var(--space-sm);
}

/* Text "BibTeX" */
.code {
  margin-block-start: var(--space-lg);
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
  font-size: var(--text-small);
  margin: 0;
}

/* Code block container */
.code-content {
  padding: var(--space-sm);
  max-width: 100%;
  overflow: hidden;   
}

/* Block styles <pre> */
.code-content pre {
  margin: 0;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
  font-size: var(--text-small);
  line-height: var(--line-height-base);
  overflow-x: auto;
  white-space: pre;
  overflow-x: auto;
}

/* Horizontal scroll */
.code-content pre::-webkit-scrollbar {
  height: 6px;
}

.code-content pre::-webkit-scrollbar-track {
  background: var(--surface-neutral-4);
  border-radius: var(--radius-sm);
}

.code-content pre::-webkit-scrollbar-thumb {
  background: var(--surface-neutral-5);
  border-radius: var(--radius-sm);
}



/* =============== Logo =============== */
.site-logo {
    width: 44px;
    height: auto;
    display: block;
}

.logo-container {
    display: flex;
    align-items: center;
    margin: 0 var(--space-xs) 0 var(--space-md);
}

@media (max-width: 992px) {
    .logo-container {
        margin: 0 var(--space-xs) 0 var(--space-xs);
    }
}

.logo-link {
    display: inline-block;
    text-decoration: none;
    line-height: 0;
}

.logo-link:focus-visible {
    outline: var(--focus-ring-width) solid var(--focus-ring-color);
    outline-offset: var(--focus-ring-offset);
}



/* =============== Image container =============== */
.image-container {
    overflow: hidden; /* Para que el border-radius funcione bien */
}



/* =============== Table =============== */

table {
  border-spacing: 0;
}

/* Table conntainer */
.versions-table-container {
  background: var(--surface-table-container);
  border: var(--border-width-separator) solid var(--border-color-subtle);
  border-radius: var(--radius-md);
  overflow: hidden; /* <-- add to clip rounded corners */
}

/* Table - Desktop */
.versions-table {
  width: 100%;
  border-collapse: separate;
  overflow: hidden; /* ensure header/background is clipped to radius */
}

.versions-table .btn--secondary {
  width: 100%;
}

.versions-table thead {
  background: var(--surface-table-header);
  border-radius: var(--radius-md);
}

.versions-table thead th:first-child {
  border-top-left-radius: var(--radius-md);
}

.versions-table thead th:last-child {
  border-top-right-radius: var(--radius-md);
  background-clip: padding-box;
}

.versions-table th {
  font-size: var(--text-small);
  padding: var(--space-sm) var(--space-md);
  text-align: left;
  font-weight: var(--fw-semibold);
}

/* Rows and cells */
.versions-table td {
  padding: var(--space-sm) var(--space-md);
  border-bottom: var(--border-width-separator) solid var(--border-color-subtle);
}

.versions-table tbody tr:last-child td {
  border-bottom: none;
}

/* Badge */
.badge {
  display: inline-block;
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--radius-lg);
  background-color: var(--surface-subtle);
  font-weight: var(--fw-bold);
  font-size: var(--text-small);
  color: var(--text-color-on-decorative);
  text-align: center;
}

/* Tag */
.version-tag {
  font-weight: var(--fw-bold);
  font-size: var(--text-small);
}

/* Date */
.version-date {
  font-weight: var(--fw-semibold);
  font-size: var(--text-small);
  white-space: nowrap;
}

/* Description */
.version-description {
  font-size: var(--text-small);
  margin: 0;
}

.download-cell {
  text-align: center;
}

/* Responsive versions table (transform to cards) */

/* Tablet */
@media (max-width: 1024px) {
    .versions-table th,
    .versions-table td {
      padding: var(--space-xs) var(--space-sm);;
    }

    .versions-table-container {
        border-radius: var(--radius-md);
        margin: var(--space-sm) 0;
    }
    
    /* Ocultar encabezados en móvil */
    .versions-table thead {
        display: none;
    }
    
    /* Convertir tabla en tarjetas */
    .versions-table,
    .versions-table tbody,
    .versions-table tr,
    .versions-table td {
        display: block;
        text-align: right;
    }
    
    .versions-table tr {
        display: flex;
        flex-direction: column;
        padding: var(--space-xs) var(--space-md);
        border-bottom: var(--border-width-separator) solid var(--border-color-subtle);
        position: relative;
    }
    
    .versions-table tr:last-child {
        border-bottom: none;
    }
    
    .versions-table td {
        padding: var(--space-xs) 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
    }
    
    .versions-table td::before {
      content: attr(data-label);
      font-weight: var(--fw-semibold);
      text-align: left;
    }
    
    .download-cell::before {
      display: none;
    }
    
    .download-cell {
      justify-content: center;
      margin-top: var(--space-sm);
      padding-top: var(--space-sm);
      border-top: 1px solid var(--surface-neutral-4);
    }
    
    .btn--secondary {
      width: 100%;
      justify-content: center;
    }
}



/* =============== Author =============== */

.author-photo {
  width: 14rem;
  height: 14rem;
  object-fit: cover;
}

.author-photo-text {
  gap: var(--space-lg);
  align-items: center;
  display: flex;
}

.no-text-margin {
  margin: var(--space-xs) 0rem !important;
}

/* Mobile: column */
@media (max-width: 992px) {
  .author-photo-text {
    flex-direction: column;
    gap: var(--space-sm);
  }
  
  .author-photo-text .author-photo {
    max-width: 10rem;
    height: auto;
  }
}